*{
    box-sizing: border-box;
}

h1, h2{
    text-align: center;
}

.header-top-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: pink;
}

.header-menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.header-main-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-main-banner-content-wrapper{
    display: flex;
    justify-content: space-around;
}
.header-main-banner-content{
    border: 1px solid pink;
}
/* Product list carousel - homepage */

.product-list-wrapper{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 0.5em;
    padding: 15px;
}
.product-card{
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
}
.product-card img{
   height: 250px;
}
.product-card-content a{
    text-decoration: none;
    color: black;
}
.product-card-content:hover{
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.183);
    transform: scale(1.04);
}
.srovnavacCenyBtn{
    display: block;
    margin: 10px;
    padding: 10px;
}