*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: var(--cl-grey);
}
:root{
    --cl-grey: #929298;
    --cl-pink: #ff807f;
    --cl-light-pink: #fff9f8;
    --cl-black: rgb(68, 68, 68);
}

h1, h2, h3, h4{
    text-align: center;
    padding: 1em;
}

h1{
    font-size: 1.5rem;
}

.main-heading{
    font-weight: 800;
    color: var(--cl-pink);
}
.header-top-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0 1em;
}

.logo-wrapper{
    width: 10rem;
}
.logo-wrapper img{
    width: 100%;
}
.uzivatel{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 9rem;
}
.bi{
    color: var(--cl-grey);
}
.uzivatel .lead{
    color: var(--cl-grey);
}

.nav-item .nav-link{
    color: var(--cl-grey);
}

.nav-item .nav-link:hover{
    color: var(--cl-pink);
}

.header-menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
    max-width: 2200px;
}

.header-main-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-main-banner-content-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%; 
    margin-bottom: 1em;
    background-color: var(--cl-light-pink);
}
.navbar-toggler{
    border: none;
}

.navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler:hover {
        outline: none;
        box-shadow: none;
}

.info-hlaska{
    font-size: 1rem;
    font-weight: 400;
}
.kategorie-nadpis{
    color: var(--cl-black);
    font-weight: 800;
}
.modalBtn{
    cursor: pointer;
}
dialog{
    padding: 3em;
    border: none;
    border-radius: 20px;
    width: 80%;
    max-width: 1200px;
    top: 30%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.596);
    backdrop-filter: blur(20px);
}

dialog input[type='text'], textarea{
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
}

dialog::backdrop {
    background-color: rgba(29, 19, 27, 0.242);;
    border: none;
  }
.dialogBtns{
    display: flex;
    justify-content: center;
}
.prihlasitSeForm, .registrovatSeForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 0.5rem;
}

.showElement{
    display: flex;
}

.hidden{
    display: none;
}

.activeBtn{
    background-color: aqua;
}

main{
    max-width: 2200px;
    margin:0 auto;
}


/* Product list - homepage */

.image-card-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 100%;
}
.image-card-wrapper img{
    max-width: 100%;
    height: 100%;
    size: contain;
}
.product-wrapper{
    display: grid;
    gap: 0.5em;
    padding: 15px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
}

.card-title{
    font-size: 1rem;
}
.card-body{
    padding: 0.5rem;
}
.card-text{
    font-size: 0.8rem;
}
.btn{
    font-size: 1rem;
}

/* product list jednotlive stranky */

.product-card{

}


/******************* DISKUSE ***********************/
.space-between{
    display: flex;
    justify-content: space-between;
}

.vstoupit-do-diskuse-btn{
    padding: 1rem;
    border-radius: 10px;
    background-color: aliceblue;
}

.vyber-kategorii-wrapper{
    display: flex;
    justify-content: center;
}

.vypis-diskusi{
    padding: 1rem;
}

.kategorie-btn{
    padding: 0.5rem;
    margin: 0.5rem;
    border:1px solid blue;
    border-radius: 0.5rem;
    cursor: pointer;
}

.kategorie-btn:hover{
    background-color: aliceblue;
}

.aktivniKategorie{
    border: 3px solid blue;
    background-color: aliceblue;
}

.vedlejsi-komentare{
    background-color: rgba(250, 235, 215, 0.511);
    padding-left: 1rem;
}

.dialog-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dialog-wrapper form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-wrapper form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-main{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cl-light-pink);
}
.footer-main img{
    width: 12rem;
}
.product-list-page{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}



@media screen and (min-width: 580px) {   
    .product-wrapper{
        display: grid;
        gap: 0.5em;
        padding: 15px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1300px) {   
    .product-wrapper{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1600px) {   
    .product-wrapper{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1240px) {   
    .product-list-page{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 600px) {   
    .product-list-page{
        grid-template-columns: 1fr;
    }
}

