<!DOCTYPE html>
<html lang='cs'>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" type="text/css" href="{$basePath}/css/style.css">
	<title>{ifset title}{include title|stripHtml} | {/ifset}mamouZodpovedne.cz</title>
</head>

<body>
	<header>
		<div class="header-top-banner">
			<a href="{link Domu:Default }" class="logo-wrapper"><h3>mamouzodpovedne</h3></a>
			<div class="user-icon-wrapper" onclick="otevriPrihlasovaciDialogoveOkno()">&#128100; {if $jePrihlasen}<span>{$sessionPoleDat['prezdivka']}</span>{/if}</div>
		</div>

		<dialog class="prihlasit_registrovat_dialog">
			<div class="dialogBtns {if $jePrihlasen}hidden{/if}">
				<button class="dialogPrihlasitSeBtn activeBtn">Přihlásit se</button>
				<button class="dialogRegistrovatSeBtn">registrovat</button></div>
			<div class="dialogFormWrapper {if $jePrihlasen}hidden{/if}">
				<div class="prihlasitSeForm">
					{control prihlasitSe}
				</div>
				<div class="registrovatSeForm hidden">
					{control registrovatSe}
				</div>
			</div>
			
			{if $jePrihlasen}
			<div class="odhlasitSeForm">
				{control odhlasitSe}
			</div>
			{/if}
		</dialog>

		<nav>
			<ul class="header-menu">
				<li><a href="{link Hracky:Default}">Hračky</a></li>
				<li><a href="{link VybavaProMiminko:Default}">Výbava pro miminko</a></li>
				<li><a href="{link DetskyPokoj:Default}">Dětský pokoj</a></li>
				<li><a href="{link KurzyProRodice:Default}">Kurzy pro rodiče</a></li>
				<li><a href="{link Diskuse:default}">Diskuse</a></li>
			</ul>
		</nav>
		<div class="header-main-banner">
			<h2>Zodpovědný výběr hraček a příslušenství pro správný vývoj dítěte</h2>
			<div class="header-main-banner-content-wrapper">
				<h3 class="hlaska">Stránka je aktuálně ve vývoji, pilně pracuji na tom, abych Vám mohla brzy nabídnout nejen zajímavý sortiment osvědčených produktůl pro rodiče, ale také maximální komformt při procházení tohoto webu. Děkuji za trpělivost a těším se na další setkání!</h3>
			</div>
		
		</div>
	</header>
	<main>
	{include content}

	</main>

	<footer class="footer-main">
		<a href="{link Domu:Default }" class="logo-wrapper"><h3>mamouzodpovedne</h3></a>
		<p>Vytvořila Markéta Trnková 2024</p>
	</footer>

	{block scripts}
		<script src="https://unpkg.com/nette-forms@3/src/assets/netteForms.js"></script>
		<script src="{$basePath}/js/layout.js"></script>
	{/block}
</body>
</html>
