parameters:


application:
	errorPresenter:
		4xx: Error4xx
		5xx: Error5xx
	mapping: App\*Module\Presenters\*Presenter


database:
	dsn: 'pgsql:host=postgresql.r3.websupport.cz;port=5432;dbname=mamouzodpovedne'
	user: 'marketa'
	password: 'testovaciHeslo123'


latte:
	strictTypes: yes


session:
	autoStart: true
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no
